@import '../scss/variables.scss';

.grid{
min-height: 500px;
background-color:$grid-background;
border-radius: 25px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 1rem;
padding: 1rem;
}

@media screen and (max-width: 768px) {
    .grid {
        justify-content: center;
        background-color:$grid-background-light;
        padding: 0;
    }
}





