@import "../scss/variables.scss";

.description__panel {
  margin-bottom: 1rem;
  flex-basis: 50%;
  overflow: hidden;

  p {
    margin-block: 0;
  }

  .description__header {
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 0.2em 1em;
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .description__content {
    background-color: $background-light;
    color: $color-primary;
    border-radius: 0.7rem;
    padding: 1rem;
    position: relative;
    top: -0.3rem;
    z-index: -1;
  }

  .description__content.hidden {
    max-height: 0;
    padding: 0;
    display: none;
  }
  
  .description__content.visible {
    max-height: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .description__panel {
    flex-basis: 100%;
  }
}



