@import '../scss/variables.scss';

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 2rem;
color:$color-primary;
font-weight: 500;
gap: 2rem;
@media screen and (max-width: 768px){
    text-transform: uppercase;
    

 }
     & > *:first-child{       
    margin-right: auto;
    }
    & a{
    text-decoration: none;
    color: $color-primary;
    &.active{

        text-decoration: underline;
    }
    &:hover{
        text-decoration: underline;
    }
    
    }
}



