@import "../scss/variables.scss";

.footer {
  background-color: $footer-background;
  color: $color-tertiary;
  text-align: center;
  padding: 20px;
  min-height: 100px;
  display: grid;
  place-items: center;

  &__logo {
    img {
      width: 100px;
      height: 40px;
    }
  }
}
